{% extends "@OCCore/layout.html.twig"%}

{% block title %}
    Accueil - {{ Parent()}}
{% endblock %}

{% block body %}

  <h2>Bienvenue à la page d'accueil</h2>
  
  {% for message in app.session.flashbag.get('info') %}
    <div class="alert alert-info">Message flash : {{ message }}</div>
  {% endfor %}
  
  <h3>Dernières annonces</h3>
  {{ render(controller("OCPlatformBundle:Advert:menu", {'limit': 3})) }}

  <h3>Forum</h3>
  <p> Ici, nous allons mettre le forum</p>
{% endblock %}

