{% extends '@OCPlatform/layout.html.twig' %}

{% block body %}

	<h2>Ajouter une annonce</h2>

	{% include ('@OCPlatform/Advert/form.html.twig') %}

	{#<p>
		{{ form(form)}}
	</p> #}

	<!--<p>
	    <a href="{# path('oc_platform_view', {'id': id}) #}" class="btn btn-default">
	      <i class="glyphicon glyphicon-chevron-left"></i>
	      Retour à l'annonce
	    </a>
	</p> -->

{% endblock %}