<!DOCTYPE html>
<html>
<head>
	<title>Affichage de l'annonce {{ id }}</title>
</head>
<body>
	<h1>Hello Annonce n°{{ id }}</h1>

	<div>
		{% for message in app.session.flashbag.get('info') %}
			<p>Message flah: {{ message }}</p>
		{% endfor %}
	</div>
	
	 <p>
      Ici nous pourrons lire l'annonce ayant comme id : {{ id }}<br />
      Mais pour l'instant, nous ne savons pas encore le faire, cela viendra !
     </p>

</body>
</html>